::-webkit-scrollbar { 
  width: 8px; 
}

::-webkit-scrollbar-track { 
  background: #f1f5f9; 
}

::-webkit-scrollbar-thumb { 
  background: #cbd5e1; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover { 
  background: #94a3b8; 
}

body { 
  -webkit-tap-highlight-color: transparent; 
}

@keyframes scan {
  0% { 
    transform: translateY(-100%); 
  }
  100% { 
    transform: translateY(100%); 
  }
}

.animate-scan { 
  animation: scan 2s linear infinite; 
}

